#toBeReplacedHeading {
  color: red;
}

.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logo {
  width: 100px;
}

.navItems ul {
  display: flex;
  list-style-type: none;
  font-size: 21px;
}

.navItems ul li {
  padding: 10px;
  margin: 10px;
}

.login {
  margin-right: 20px;
  margin-top: 19px;
  padding: 0px 10px;
  height: 30px;
}

.filter {
  margin: 20px;
  display: flex;
  justify-content: center;
}

.search {
  padding-right: 30px;
}

.searchBar {
  padding: 10px;
  margin-right: 20px;
}

.shimmerContainer {
  display: flex;
  flex-wrap: wrap;
}

.shimmerCard {
  margin: 12px;
  padding: 10px 10px 0px 10px;
  width: 250px;
  height: 400px;
  background-color: gainsboro;
}

.resContainer {
  display: flex;
  flex-wrap: wrap;
}

.resCard {
  margin: 12px;
  padding: 10px 10px 0px 10px;
  width: 250px;
  background-color: orange;
}

.resCard:hover {
  border: 1px solid black;
  cursor: pointer;
}

.menuLink {
  text-decoration: none;
  color: inherit;
}

.resImage {
  width: 100%;
}
